.intro-text {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.video {
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 20px;
}

.content-section {
    padding-top: 50px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 125px;
    }

.race-bio p {
	margin-top:10px;
	font-size: 16px;
}

.race-name {
	margin: 10px;
}